EMBED_ConsulAddress=http://127.0.0.1:8500
EMBED_ConsulToken=xxx
EMBED_ConsulKVKey=DC_PATTERNS

SSH_HOST=127.0.0.1
SSH_PORT=22
SSH_USER=root
SSH_PASS=dummypassword
SERVER_FILE_DIR=/data/filehost/html

APP_NAME=ned